*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 img{
    width: 100%;
    height: 100%;
 }

 .contents .text_wrap{
    text-align: center;
    margin-top: 60px;
}

.contents .text_wrap h2{
    font-size: 30px;
    color: #767578;
    margin-bottom: 15px;
}

.contents .text_wrap p{
    font-size: 17px;
    color: #767578;
}
 .contents .photo_wrap .photo{
    width: 470px;
    height: 470px;

 }

.contents .photo_wrap{
    display: flex;
    justify-content:center;
    margin-top: 55px;
}
