 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;    
   }

 body{
      text-align: center;
   }

 img {
      width:100%;
      height: 100%;

   }

 .header{
      display: center;
      justify-content: center;
      text-align: center;
     /* border: 1px solid red;*/
      margin-bottom: 65px;
      margin-top: 65px;
 }

 .header h3{
   font-size: 30px;
   color: #666;
 }

 .contents {
      display: flex;
      justify-content: center;
      margin-bottom: 58px;
}

 .contents .text_wrap{
      width: 470px;
      height: 470px;
     /* border: 1px solid red;*/
      margin: 0 20px;
      text-align: left;
 }

 .contents .text_wrap h2{
      font-size: 30px;
      color: #666;
      margin-top:20px;
 }

 .contents .text_wrap p{
   color: #666;
   font-size: 17px;
   margin-top: 20px;
   line-height: 1.7;
 }

 .contents .text_wrap .btns{
   margin-top: 30px;
 }

 .contents .text_wrap .btns button{
   width: 82px;
   height: 41px;
   border-radius: 42px;
   background-color: #666;
   border: 1px solid #666;
   color: white;
   font-size: 17px;
   font-weight: lighter;
}

 .contents .photo{
    width: 470px;
    height: 470px;
    /*border: 1px solid red;*/
    margin: 0 20px;
}

