*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    width: 100%;
    margin: 30px 0;
    border: collapse:30px; 
}

.wrap{
    width: 800px;
    margin: 50px auto;

}

.tb1_01{
    text-align: center;
}

.tb1_01 td
.tbl_01 th{
    border: 1px solid #999;
    padding: 10px;
}

.tbl_02{
    text-align: center;
}

.tbl_02 th
.tb1_02 td{
    border: 1px solid #999;
    padding: 10px;
}

.tdl_02 tr:nth-child(even){
    background-color: #ddd;
}

.tb1_03 tr{
    text-align: center;
}

.tbl_03 tr:first-child
.tbl_03 td:first-child{
    border-left:none;

}

.tbl_03 tr:last-child
.tbl_03 td:last-child{
    border-right:none;
    
}
